<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\instructor\source\repos\myhelloservice\myhelloclientnoproxy\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <client>
      <endpoint address="http://localhost:8080/Hello" binding="wsHttpBinding" behaviorConfiguration="MyCredentials" bindingConfiguration="MySecureBinding" contract="MyHelloService.IHello" name="MyClientConfig"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyCredentials">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="MyCustomBinding">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="MyRMBinding">
          <reliableSession enabled="true" ordered="true"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="MySecureBinding">
          <security mode="Message">
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>